<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.lumiroom.ai.dao.AiInfraMapper">

    <select id="getSafetyInfraStats" resultType="com.ssafy.lumiroom.ai.dto.InfraStatsDto">
        SELECT
        (SELECT COUNT(*) FROM cctv_infos
        WHERE ST_Distance_Sphere(location, ST_GeomFromText(#{wktPoint}, 4326)) &lt;= #{radius}) AS cctvCount,
        (SELECT COUNT(*) FROM street_lights
        WHERE ST_Distance_Sphere(location, ST_GeomFromText(#{wktPoint}, 4326)) &lt;= #{radius}) AS streetLightCount,
        (SELECT COUNT(*) FROM security_lights
        WHERE ST_Distance_Sphere(location, ST_GeomFromText(#{wktPoint}, 4326)) &lt;= #{radius}) AS securityLightCount,
        (SELECT COUNT(*) FROM security_facilities
        WHERE (POWER(x - #{epsg3857X}, 2) + POWER(y - #{epsg3857Y}, 2)) &lt;= POWER(#{projectedRadius}, 2)) AS policeStationCount
    </select>
    
    <select id="getCombinedSafetyStats" resultType="com.ssafy.lumiroom.ai.dto.InfraStatsDto">
        SELECT 
            cctv_count AS cctvCount,
            security_light_count AS securityLightCount,
            security_facility_count AS policeStationCount,
            (SELECT COUNT(*) FROM street_lights 
             WHERE ST_Distance_Sphere(location, ST_GeomFromText(#{wktPoint}, 4326)) &lt;= #{radius}) AS streetLightCount
        FROM property_safety_summary
        WHERE property_id = #{propertyId}
    </select>

</mapper>