<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.lumiroom.infra.dao.InfrastructureMapper">

    <select id="getInfraMarkersByBounds" parameterType="com.ssafy.lumiroom.infra.dto.InfraReqDto"
            resultType="com.ssafy.lumiroom.infra.dto.InfraResDto">
        <choose>
            <when test="type == 'cctv'">
                SELECT
                CAST(id AS CHAR) AS id,
                ST_X(location) AS latitude,
                ST_Y(location) AS longitude
                FROM cctv_infos
                WHERE MBRContains(
                ST_GeomFromText('POLYGON((${swLat} ${swLng}, ${neLat} ${swLng}, ${neLat} ${neLng}, ${swLat} ${neLng}, ${swLat} ${swLng}))', 4326),
                location
                )
            </when>

            <when test="type == 'securityLight'">
                SELECT
                sn AS id,
                ST_X(location) AS latitude,
                ST_Y(location) AS longitude
                FROM security_lights
                WHERE MBRContains(
                ST_GeomFromText('POLYGON((${swLat} ${swLng}, ${neLat} ${swLng}, ${neLat} ${neLng}, ${swLat} ${neLng}, ${swLat} ${swLng}))', 4326),
                location
                )
            </when>

            <when test="type == 'streetLight'">
                SELECT
                sn AS id,
                ST_X(location) AS latitude,
                ST_Y(location) AS longitude
                FROM street_lights
                WHERE MBRContains(
                ST_GeomFromText('POLYGON((${swLat} ${swLng}, ${neLat} ${swLng}, ${neLat} ${neLng}, ${swLat} ${neLng}, ${swLat} ${swLng}))', 4326),
                location
                )
            </when>

            <when test="type == 'police'">
                SELECT
                objt_id AS id,
                ST_X(ST_Transform(ST_SRID(POINT(x, y), 3857), 4326)) AS latitude,
                ST_Y(ST_Transform(ST_SRID(POINT(x, y), 3857), 4326)) AS longitude
                FROM security_facilities
                WHERE x BETWEEN ST_X(ST_Transform(ST_GeomFromText('POINT(${swLat} ${swLng})', 4326), 3857))
                AND ST_X(ST_Transform(ST_GeomFromText('POINT(${neLat} ${neLng})', 4326), 3857))
                AND y BETWEEN ST_Y(ST_Transform(ST_GeomFromText('POINT(${swLat} ${swLng})', 4326), 3857))
                AND ST_Y(ST_Transform(ST_GeomFromText('POINT(${neLat} ${neLng})', 4326), 3857))
            </when>

            <otherwise>
                SELECT CAST(id AS CHAR) AS id, ST_X(location) AS latitude, ST_Y(location) AS longitude
                FROM cctv_infos
                WHERE MBRContains(
                ST_GeomFromText('POLYGON((${swLat} ${swLng}, ${neLat} ${swLng}, ${neLat} ${neLng}, ${swLat} ${neLng}, ${swLat} ${swLng}))', 4326),
                location
                )
            </otherwise>
        </choose>
    </select>

</mapper>